.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuDashboard {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardDashboard {
    flex: 3.5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}