@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerLogo {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLogin {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A6BB9;
}

.containerForm {
    display: flex;
    flex-direction: column;
}

#inputLogin {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3371BC;
    border-radius: 4px;
    opacity: 1; 
    width: 353px;
    height: 48px;
    margin-bottom: 15px;
    padding: 12px;
}

#buttonLogin {
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #7228002B;
    border: 1px solid #2A6BB9;
    border-radius: 4px;
    opacity: 1;
    color: #2D6DBA;
    cursor: pointer;
    transition: all .2s;
    margin-top: 10px;
}

.ant-btn > span {
    font-size: 18px !important;
}

#buttonLogin:hover {
    background-color: #f3f3f3e0;
}

p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 2px !important;
}